@model BlogWebsite.Models.BlogModel

@{
    Layout = "~/Views/Shared/insideLayout.cshtml";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Content</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Posted by</small>
        </div>
    </div>
</div>
